/*=========================================================================================
    File Name: vxList.scss
    Description: Styles for vx-list component. Imported in VxList.vue file
    ----------------------------------------------------------------------------------------
    Item Name: Human Resources Application
    Author: Hazem Ashraf
    Author URL: https://www.linkedin.com/in/hazem-ashraf-1242169b/
==========================================================================================*/

.list {
  .list__item {
    display: flex;
    padding: 0.4rem;
    align-items: flex-start;
  }
}
